form
 {
	border:2px solid rgb(167,209,99);
	padding: 15px;
	background-color: rgb(10, 39, 68);
	font-family: Arial;
	margin:60px auto;
	width: 100%;
	text-align: center;
	min-height: 320px;
}


h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	font-weight: 300;
	color: white;
	margin-top: 10px;
	margin-bottom: 10px;
}

h4 {
	font-weight: 100;
	font-size: 13px;
	color: #1096e6;
	margin: 20px;
	line-height: 18px;
}

button {
	border-radius: 6px;
	border: 0px;
	font-weight: bolder;
	font-size: 14px;
	height: 30px;
	background-color: #1096e6;
	color:white;
	width: 100%;
}

body {
	background-color: #00356C;
	margin: 0 auto;
	width: 60%;
}

input {
  width: 100%;
  background: #ffffff;
  border: none;
  height: 30px;
  margin-bottom: 15px;
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  color: #7f8c8d;
}

button:hover {
	background-color: #108DD7;
}

.signup {
	margin-bottom: 10px;
}

.login {
	padding-bottom: 34px;
}

a {
	text-decoration: underline;
	color: #4EB4F0;
}

a:hover {
	color: #A7D163;
}







